.manager-view__search.search-filter-bar {
  --search-filter-bar-end-padding: 14px;
}

.manager-view__footer {
  width: 100%;
  padding-top: 18px;
  border-top: 1px solid var(--ems-color-border-soft);
}
